<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .message-box {
            padding: 10px 20px;
            background: #4fc08d;
            border: 1px solid #42b983;
        }

        .message-box-close {
            float: right;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- 自定义组件 -->
        <list :list="list"></list>
        <!-- 监听组件事件 -->
        <!-- 如果使用驼峰的命名方式的话，这里使用的时候是不区分大小写的 -->
        <list-add @add-list="addlist"></list-add>
        <!-- 插槽实现内容分发 -->
        <message :show.sync="show">新增成功！</message>
    </div>
    <script>
        // 注册list组件 
        Vue.component('list', {
            data() {
                return {
                }
            },
            props: {
                // 新增课程时也要访问list，因此作为属性传递 
                list: { type: Array, default: [] },
            },
            template: ` 
            <div>
                <!-- 条件渲染 --> 
                <p v-if="list.length == 0">没有任何课程信息</p> 
                <!-- 列表渲染 --> 
                <ul>
                    <li 
                        v-for="c in list" 
                    >
                        {{c}}
                    </li> 
                </ul> 
            </div> 
            `,
        })
        Vue.component('list-add', {
            data() {
                return {
                    item: '',
                }
            }, template: `
                <div>
                <!-- 表单输入绑定 --> 
                    <input 
                        v-model="item" 
                        @keydown.enter="addlist"
                    /> 
                    <!-- 事件处理 --> 
                    <button v-on:click="addlist">新增课程</button> 
                </div> 
            `,
            methods: {
                addlist() {
                    // 发送自定义事件通知父组件 
                    // 注意事件名称定义时不要有大写字母出现 
                    this.$emit('add-list', this.item)
                    this.item = ''
                }
            },
        })
        Vue.component('message', { 
            props: ['show'], 
            template: ` 
                <div class="message-box" v-if="show"> 
                    <slot></slot> 
                    <span class="message-box-close" @click="$emit('update:show', false)">X</span>
                </div> ` 
            }
        )
        const app = new Vue({
            el: '#app',
            data: {
                title: 'zxl',
                list:[1],
                show:false
            },
            methods: {
                addlist(e) {
                    this.list.push(e)
                    this.show=true
                }
            },
        }) 
    </script>
</body>

</html>